/* SOLVE PROBLEMS CONTAINER */

.sp-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    padding-bottom: 120px;
    position: relative;
}

.sp-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../assets/bg.svg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    background-attachment: fixed;
}

/* SR CONTAINER DIVIDER */

.sp-container-divider {
    width: 95%;
    border: 0;
    border-top: 1px solid rgb(100,100,100);
}

/*  

   SP INPUT

*/

.sp-container-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SP INPUT INNER */

.sp-container-input-inner {
    width: 700px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgb(15,15,15);
    border: 1px solid rgba(255,255,255,0.2);
}

.sp-container-input-itself {
    padding-inline: 20px;
    border: 0;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

.sp-container-input-button {
    font-size: 1rem;
    padding-inline: 20px;
    border: 0;
    background-color: rgb(20,20,20);
    color: white;
    border-left: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}

.sp-container-input-button:hover {
    background-color: rgb(50,50,50);
}

.sp-container-input-button:active {
    background-color: rgb(25,25,25);
}

.sp-container-input-inner:focus-within {
    border: 1px solid rgba(255,255,255,0.5);
}

.sp-container-input-inner:focus-within .sp-container-input-button {
    border-left: 1px solid rgba(255,255,255,0.5);
}

/* SP CONTAINER HEADER */

.sp-container-header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.sp-header {
    width: 750px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}

/*  

   SP OUTPUT

*/

.sp-output {
    width: 100%;
    padding-inline: 20px;
}

/* SP OUTPUT INNER */

.sp-output-inner {
    border: 1px solid rgba(100, 100, 100, 0.1);
    padding: 20px;
    background-color: rgba(15, 15, 15, 0.9);
}

.sp-output-inner-header {
    color: white;
    text-transform: uppercase;
}

/* SP OUTPUT THEMSELVES */

.sp-output-themselves {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 20px;
}

/* SP OUTPUT ITSELF */

.sp-output-itself {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(20,20,20);
    border-radius: 0.2rem;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.05);
}

/* SP OUTPUT ITSELF IMAGE */

.sp-output-itself-image-container {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    line-height: 0;
    overflow: hidden;
}

.sp-output-itself-image-itself {
    width: 100%;
    transition: scale 300ms;
}

/* SP OUTPUT ITSELF INFO */

.sp-output-itself-info {
    padding-inline: 20px;
    padding-block: 13px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sp-output-itself-info-divider {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.sp-output-itself-info-challenge-name {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}

.sp-output-itself-info-about-challenge {
    color: white;
    font-weight: 300;
}

/* SP OUTPUT ITSELF INFO LANGUAGES */

.sp-output-itself-info-languages {
    display: flex;
    gap: 10px;
}

.sp-output-itself-info-language-itself {
    font-weight: 500;
}

.sp-output-itself-info-language-html {
    color: #E34F26;
}

.sp-output-itself-info-language-css {
    color: #1572B6;
}

.sp-output-itself-info-language-javascript {
    color: #F7DF1E;
}

/* SP OUTPUT ITSELF STATES HOVER */

.sp-output-itself:hover {
    border: 1px solid rgba(255,255,255,0.1);
}

.sp-output-itself:hover .sp-output-itself-image-container {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.sp-output-itself:hover .sp-output-itself-image-container > .sp-output-itself-image-itself {
    scale: 1.2;
}