/* SOLVE PROBLEMS CONTAINER */

.sp-container {
    display: flex;
    flex-direction: column;
}

/* SP CONTAINER HEADER */

.sp-container-header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.sp-header {
    width: 750px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
}


/* SP CONTAINER INPUT */

.sp-container-input {
    display: flex;
    justify-content: center;
    align-items: center;
}