/* NAVBAR */

nav {
    --blur: 5px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 50px;
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 0.1rem;
    border: 1px solid rgba(255,255,255,0.04);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-inline: 5px;
}

/* NAVBAR LOGO */

.navbar-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.navbar-logo-itself {
    width: 100%;
    height: 100%;
    scale: 1.5;
}

/* NAVBAR LINKS */

.navbar-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: relative;
}

.navbar-link:hover {
    color: rgb(200,200,200);
}

.navbar-link::before {
    content: '';
    width: 0;
    height: 0.5px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    transition: width 300ms;
}

.navbar-link:hover::before {
    width: 100%;
}

/* NAVBAR BUTTONS */

.navbar-buttons {
    display: flex;
    align-items: center;
}

/* NAVBAR THEME */

.navbar-theme {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    border: 1px solid rgba(255,255,255,0.02);
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
}

.navbar-theme-svg {
    color: white;
}

.navbar-theme:hover {
    background-color: rgba(255,255,255,0.1);
}

.navbar-theme:active {
    background-color: rgba(255,255,255,0.04);
}