/* NAVBAR */

/* nav {
    
} */

/* NAVBAR VISIBLE */

.navbar-visible {
    --blur: 5px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 50px;
    background-color: rgba(255,255,255,0.05);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 0.1rem;
    border: 1px solid rgba(255,255,255,0.04);
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-inline: 6.5px;
    z-index: 999;
}

/* NAVBAR LOGO */

.navbar-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.navbar-logo-itself {
    width: 100%;
    height: 100%;
    scale: 1.5;
}

/* NAVBAR LINKS */

.navbar-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: relative;
}

.navbar-link:hover {
    color: rgb(200,200,200);
}

.navbar-link::before {
    content: '';
    width: 0;
    height: 0.5px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    transition: width 300ms;
}

.navbar-link:hover::before {
    width: 100%;
}

/* NAVBAR BUTTONS */

.navbar-buttons {
    display: flex;
    align-items: center;
    column-gap: 6.5px;
}

.navbar-buttons-divider {
    height: 75%;
    border: 0;
    border-left: 1px solid rgba(255,255,255,0.05);
    display: none;
}

/* NAVBAR THEME */

.navbar-theme {
    --svg-size: 22px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
    border: 1px solid rgba(255,255,255,0.02);
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
}

.navbar-theme-svg {
    width: var(--svg-size);
    height: var(--svg-size);
    color: white;
}

.navbar-theme-svg-second {
    width: var(--svg-size);
    height: var(--svg-size);
    color: white;
    display: none;
}

.navbar-theme:hover {
    background-color: rgba(255,255,255,0.1);
}

.navbar-theme:active {
    background-color: rgba(255,255,255,0.04);
}

/* NAVBAR THEME JS */

.navbar-theme-js > .navbar-theme-svg {
    display: none;
}

.navbar-theme-js > .navbar-theme-svg-second {
    display: unset;
}

/*  

    NAVBAR MENU

*/

.navbar-menu {
    width: 38px;
    height: 38px;
    border: 1px solid rgba(255,255,255,0.02);
    background-color: rgba(255,255,255,0.05);
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar-menu * {
    position: absolute;
    transition: transform 300ms;
}

.navbar-menu-top {
    width: 30px;
    height: 1.5px;
    background-color: white;
    transform: translateY(-7px);
}

.navbar-menu-middle {
    width: 30px;
    height: 1.5px;
    background-color: white;
}

.navbar-menu-bottom {
    width: 30px;
    height: 1.5px;
    background-color: white;
    transform: translateY(7px);
}

.navbar-menu:hover {
    background-color: rgba(255,255,255,0.1);
}

.navbar-menu:active {
    background-color: rgba(255,255,255,0.04);
}

/* NAVBAR DROPDOWN LINKS */

.navbar-dropdown-links {
    --blur: 15px;
    position: fixed;
    bottom: 70px;
    width: calc(100% - 30px);
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    border-radius: 0.1rem;
    border: 1px solid rgba(255,255,255,0.04);
    display: none;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}

.navbar-dropdown-link {
    padding-block: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255,255,255,0.04);
}

.navbar-dropdown-link:hover {
    color: rgb(200,200,200);
    background-color: rgba(255,255,255,0.1);
}

/* NAVBAR MENU JS */

.navbar-menu-js .navbar-menu-top {
    transform: translateY(0) rotateZ(45deg);
}

.navbar-menu-js .navbar-menu-middle {
    transform: rotateY(90deg);
}

.navbar-menu-js .navbar-menu-bottom {
    transform: translateY(0) rotateZ(-45deg);
}

.navbar-dropdown-links-js {
    display: flex;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    .navbar-visible {
        width: calc(100% - 30px);
        bottom: 15px;
    }
    .navbar-links {
        display: none;
    }
    .navbar-buttons-divider {
        display: unset;
    }
    .navbar-menu {
        display: flex;
    }
}