/* RESET */

.body-js {
    background-color: #ffffff;
}

.body-js::before {
    background: url(../assets/bg-light.svg);
}

/* NAVBAR */

.navbar-js .navbar-visible {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.navbar-js .navbar-link {
    color: black;
}

.navbar-js .navbar-link:hover {
    color: rgb(63, 63, 63);
}

.navbar-js .navbar-link::before {
    background-color: black;
}

.navbar-js .navbar-theme,
.navbar-js .navbar-menu {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-js .navbar-theme-svg-second {
    color: black;
}

.navbar-js .navbar-menu * {
    background-color: black;
}

.navbar-js .navbar-dropdown-links,
.navbar-js .navbar-dropdown-link {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* HOME PAGE */

.body-js .sp-header {
    color: black;
}

.body-js .sp-container-input-inner {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(255,255,255);
}

.body-js .sp-container-input-itself {
    color: black;
}

.body-js .sp-output-inner {
    background-color: rgba(0, 0, 0, 0.1);
}

.body-js .sp-output-inner-header {
    color: black;
}

.body-js .sp-output-itself {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: white;
}

.body-js .sp-output-itself-image-container {
    border: 1px solid rgba(0,0,0,0.1);
}

.body-js .sp-output-itself-info-challenge-name,
.body-js .sp-output-itself-info-about-challenge,
.body-js .sp-output-itself-info-languages {
    color: black;
}

/* SHOW CHALLENGE */

.body-js .challenge-header-itself,
.body-js .challenge-header-paragraph,
.body-js .challenge-detailed-info-subheader,
.body-js .challenge-detailed-info-paragraph {
    color: black;
}

.body-js .challenge-header-grid,
.body-js .challenge-image {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.body-js .challenge-header-grid-child,
.body-js .challenge-header-grid-child-link {
    background-color: rgb(255, 255, 255);
    color: black;
}

.body-js .challenge-header-grid-child-link:first-of-type,
.body-js .challenge-header-grid-child-link:last-of-type {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.body-js .challenge-header-grid-child-link:hover {
    background-color: rgb(240, 240, 240);
}

.body-js .challenge-detailed-info {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    .body-js .challenge-header-grid-child-link:first-of-type,
    .body-js .challenge-header-grid-child-link:last-of-type {
        border-left: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}